n8n-workflows/workflows/azure---repo_workflows_sync.json
{
  "updatedAt": "2026-06-11T10:34:01.264Z",
  "createdAt": "2026-06-11T09:10:05.408Z",
  "id": "bwdFYSOYbnJQk5Yu",
  "name": "azure - repo_workflows_sync",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "operation": "create",
        "workflowObject": "={{ $json.toJsonString()  }}",
        "requestOptions": {}
      },
      "id": "10c40643-ee42-4f6a-b6ee-2e51353a6b1c",
      "name": "Create new workflow in n8n",
      "type": "n8n-nodes-base.n8n",
      "position": [
        2080,
        1872
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ]
            }
          ]
        }
      },
      "id": "06985994-710e-43a9-a828-728e85b3f5bc",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -144,
        1360
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "url": "=https://dev.azure.com/{{ $json.ado_organization }}/{{ $json.ado_project }}/_apis/git/repositories/{{ $json.ado_repo_name }}/items?scopePath=/{{ $json.repo_workflows_path }}&recursionLevel=OneLevel&versionDescriptor.version=main&api-version=7.1",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {}
      },
      "id": "2efd357c-7bf9-4f5f-a699-f246419bf938",
      "name": "List files from repo",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        512,
        1488
      ],
      "typeVersion": 4.2,
      "alwaysOutputData": true,
      "credentials": {
        "httpBasicAuth": {
          "id": "cMauKdXRKlIcTCfk",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://dev.azure.com/{{ $('Set ADO Details').item.json.ado_organization }}/{{ $('Set ADO Details').item.json.ado_project }}/_apis/git/repositories/{{ $('Set ADO Details').item.json.ado_repo_name }}/items?path={{ $json.path }}&includeContent=true&versionDescriptor.version=main&api-version=7.1",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {}
      },
      "id": "bfa0d31f-c8e0-4919-9e9d-88229aefacfa",
      "name": "Get file from ADO",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1136,
        1488
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpBasicAuth": {
          "id": "cMauKdXRKlIcTCfk",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://dev.azure.com/{{ $('Set ADO Details').item.json.ado_organization }}/{{ $('Set ADO Details').item.json.ado_project }}/_apis/git/repositories/{{ $('Set ADO Details').item.json.ado_repo_name }}/pushes?api-version=7.1",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"refUpdates\": [\n    {\n      \"name\": \"refs/heads/main\",\n      \"oldObjectId\": \"{{ $('Get latest commit OID for Upload').item.json.value[0].objectId }}\"\n    }\n  ],\n  \"commits\": [\n    {\n      \"comment\": \"n8n_backup_sync-{{ $node['Edit for Upload'].json.commitDate }}\",\n      \"changes\": [\n        {\n          \"changeType\": \"add\",\n          \"item\": {\n            \"path\": \"/{{ $('Set ADO Details').item.json.repo_workflows_path }}/{{ $node['Edit for Upload'].json.fileName }}\"\n          },\n          \"newContent\": {\n            \"content\": \"{{ $('To base64').item.json.data }}\",\n            \"contentType\": \"base64Encoded\"\n          }\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "id": "ceac4ca3-8cea-4e76-8a70-837563f131a3",
      "name": "Upload file",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2944,
        1008
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "url": "=https://dev.azure.com/{{ $('Set ADO Details').item.json.ado_organization }}/{{ $('Set ADO Details').item.json.ado_project }}/_apis/git/repositories/{{ $('Set ADO Details').item.json.ado_repo_name }}/refs?filter=heads/main&api-version=7.1",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {}
      },
      "id": "045da87c-8032-49d1-9caa-a2b8e765d402",
      "name": "Get latest commit OID for Upload",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2736,
        1008
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "url": "=https://dev.azure.com/{{ $('Set ADO Details').item.json.ado_organization }}/{{ $('Set ADO Details').item.json.ado_project }}/_apis/git/repositories/{{ $('Set ADO Details').item.json.ado_repo_name }}/refs?filter=heads/main&api-version=7.1",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {}
      },
      "id": "034eb1de-f96b-4429-ba01-885188772aed",
      "name": "Get latest commit OID for Update",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3312,
        1648
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpBasicAuth": {
          "id": "cMauKdXRKlIcTCfk",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "format": true
        }
      },
      "id": "b8c6bf77-e93f-42df-a4d8-c67ac81dda29",
      "name": "Json file",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        2080,
        1008
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "id": "3a99c475-96e0-4957-b9d4-fbb624bb38b9",
      "name": "To base64",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        2304,
        1008
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## CHECK WHICH IS NEWER\n\n**IF TRUE** ADO workflow is the most recent, n8n to be updated\n\n**IF FALSE** n8n workflow is the most recent, ADO to be updated\n\n",
        "height": 400,
        "width": 340,
        "color": 3
      },
      "id": "27860f2c-76eb-46d4-bee6-46b5e44e3e60",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1952,
        1264
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://dev.azure.com/{{ $('Set ADO Details').item.json.ado_organization }}/{{ $('Set ADO Details').item.json.ado_project }}/_apis/git/repositories/{{ $('Set ADO Details').item.json.ado_repo_name }}/pushes?api-version=7.1",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"refUpdates\": [\n    {\n      \"name\": \"refs/heads/main\",\n      \"oldObjectId\": \"{{ $('Get latest commit OID for Update').item.json.value[0].objectId }}\"\n    }\n  ],\n  \"commits\": [\n    {\n      \"comment\": \"n8n_backup_sync-{{ $('Edit for Update').item.json.commitDate }}\",\n      \"changes\": [\n        {\n          \"changeType\": \"edit\",\n          \"item\": {\n            \"path\": \"/{{ $('Set ADO Details').item.json.repo_workflows_path }}/{{ $node['Edit for Update'].json.fileName }}\"\n          },\n          \"newContent\": {\n            \"content\": \"{{ $('To base').item.json.data }}\",\n            \"contentType\": \"base64Encoded\"\n          }\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "id": "83fc9e9f-08e1-461f-8963-05bdf4d0eeb1",
      "name": "Update file",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3744,
        1648
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpBasicAuth": {
          "id": "cMauKdXRKlIcTCfk",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "format": true
        }
      },
      "id": "9e241dc3-e454-4401-b4c6-6b38f60df81f",
      "name": "Json file1",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        2896,
        1648
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "id": "34f0fc63-6516-49a6-ab6f-1213d5733d96",
      "name": "To base",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        3072,
        1648
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mergeByFields": {
          "values": [
            {
              "field1": "id",
              "field2": "id"
            }
          ]
        },
        "options": {}
      },
      "id": "b8967399-c6e7-4d54-ab42-d1a5337774e9",
      "name": "n8n vs ADO",
      "type": "n8n-nodes-base.compareDatasets",
      "position": [
        1584,
        1360
      ],
      "typeVersion": 2.3
    },
    {
      "parameters": {
        "operation": "update",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.dataset.id }}"
        },
        "workflowObject": "={{ $json.dataset.toJsonString() }}",
        "requestOptions": {}
      },
      "id": "e7fa76db-5465-45f2-a727-5b49066afc4c",
      "name": "Update workflow in n8n",
      "type": "n8n-nodes-base.n8n",
      "position": [
        2672,
        1392
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "ZmnNbwCBVFCFXOa3",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "# Get the desired workflow name\nworkflow_id = _('If n8n before ADO').first().json['same']['id']\n\n# Get all decoded workflow items\nall_decoded = _('Decode to json').all()\n\n# Filter for the matching one\nmatched = [\n    item.json \n    for item in all_decoded \n    if item.json.get('id') == workflow_id\n]\n\n# If there's a match, return it (or empty if none)\nif matched:\n    return [{'json': {'dataset': matched[0]}}]\nelse:\n    return []\n"
      },
      "id": "adde6276-0339-47ce-abae-ad0c8fc89771",
      "name": "Code - InputB",
      "type": "n8n-nodes-base.code",
      "position": [
        2464,
        1392
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const workflow_id = $('If n8n before ADO').first().json.same.id;\n\nconst all_decoded = $('Get a workflow version').all();\n\nconst matched = all_decoded.filter(item => item.json.id === workflow_id);\n\nif (matched.length > 0) {\n  return [{ json: { dataset: matched[0].json } }];\n} else {\n  return [];\n}"
      },
      "id": "5cfe993c-d443-4603-88a8-cd823f95e5f7",
      "name": "Code - InputA",
      "type": "n8n-nodes-base.code",
      "position": [
        2464,
        1648
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json.dataset }}",
        "options": {}
      },
      "id": "af005578-29dd-4591-8fb5-d86a7d5e1c15",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "position": [
        2672,
        1648
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fe4a36ef-9f04-40e3-99bd-cc517a49b440",
              "name": "commitDate",
              "type": "string",
              "value": "={{ $now.format('dd-MM-yyyy/H:mm') }}"
            },
            {
              "id": "b0fe1bcc-e79c-4a6b-b8b4-44222c8bf4e8",
              "name": "fileName",
              "type": "string",
              "value": "={{$('n8n vs ADO').item.json.name\n.trim().replace(/\\s+/g, '-').toLowerCase()\n}}.json"
            }
          ]
        },
        "options": {}
      },
      "id": "bbf80267-56cf-44ed-bc7f-9b54f0b1d47c",
      "name": "Edit for Upload",
      "type": "n8n-nodes-base.set",
      "position": [
        2512,
        1008
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fe4a36ef-9f04-40e3-99bd-cc517a49b440",
              "name": "commitDate",
              "type": "string",
              "value": "={{ $now.format('dd-MM-yyyy/H:mm') }}"
            },
            {
              "id": "b0fe1bcc-e79c-4a6b-b8b4-44222c8bf4e8",
              "name": "fileName",
              "type": "string",
              "value": "={{\n$('Code - InputA').item.json.dataset.name.trim().replace(/\\s+/g, '-').toLowerCase()\n}}.json"
            }
          ]
        },
        "options": {}
      },
      "id": "53bf19c0-cb02-477b-942b-9808b3736d10",
      "name": "Edit for Update",
      "type": "n8n-nodes-base.set",
      "position": [
        3536,
        1648
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "## IF ONLY IN N8N\nUpdate ADO repo with the relevant workflows",
        "height": 320,
        "width": 1200
      },
      "id": "e3d60582-e3ed-4d87-aa8c-2a3013605530",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1952,
        880
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## IF ONLY IN ADO\nCreate new workflow in n8n",
        "height": 340,
        "width": 340,
        "color": 6
      },
      "id": "df1dc9dd-f4ed-464c-9bd6-b73e274d72f1",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1952,
        1728
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8ccf743b-3a66-44c0-a30b-72a1d4bcf60b",
              "operator": {
                "type": "dateTime",
                "operation": "before"
              },
              "leftValue": "={{ $json.different.updatedAt.inputA }}",
              "rightValue": "={{ $json.different.updatedAt.inputB }}"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "debde259-d6cb-440d-b757-0b79590b075e",
      "name": "If n8n before ADO",
      "type": "n8n-nodes-base.if",
      "position": [
        2080,
        1488
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json.content }}",
        "options": {}
      },
      "id": "3e4ff462-3926-47ec-9cd9-9e3fea568b1b",
      "name": "Decode to json",
      "type": "n8n-nodes-base.set",
      "position": [
        1344,
        1488
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "b9ed0bad-4ebe-4378-807e-1a6082c4461d",
              "operator": {
                "type": "string",
                "operation": "notContains"
              },
              "leftValue": "={{ $json.path }}",
              "rightValue": "placeholder"
            },
            {
              "id": "c1fed0ba-0000-0000-0000-000000000099",
              "operator": {
                "type": "string",
                "operation": "endsWith"
              },
              "leftValue": "={{ $json.path }}",
              "rightValue": ".json"
            }
          ]
        },
        "options": {}
      },
      "id": "ad43659e-ff5c-4da0-89bf-a21b8bb733d7",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "position": [
        912,
        1488
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "850e7497-0f2f-470e-a5a2-a85a0c12aaa2",
              "name": "ado_organization",
              "type": "string",
              "value": "={{ $json.ado_organization }}"
            },
            {
              "id": "5c2be15a-cb93-4fe4-a512-03a1880b8713",
              "name": "ado_project",
              "type": "string",
              "value": "={{ $json.ado_project }}"
            },
            {
              "id": "f4f1f0c3-7a89-427c-942f-d0e74ba4583f",
              "name": "ado_repo_name",
              "type": "string",
              "value": "={{ $json.ado_repo_name }}"
            },
            {
              "id": "a1b2c3d4-0000-0000-0000-000000000001",
              "name": "repo_workflows_path",
              "type": "string",
              "value": "={{ $json.repo_workflows_path }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e556ef3c-b028-4584-892d-48428bf3da00",
      "name": "Set ADO Details",
      "type": "n8n-nodes-base.set",
      "position": [
        288,
        1360
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "zyVp53gZcsQvjbDu",
          "mode": "list",
          "cachedResultUrl": "/workflow/zyVp53gZcsQvjbDu",
          "cachedResultName": "get-config"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "CustomerName": "jacek"
          },
          "matchingColumns": [
            "CustomerName"
          ],
          "schema": [
            {
              "id": "CustomerName",
              "displayName": "CustomerName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        64,
        1360
      ],
      "id": "5600f34c-bf05-4776-9b7e-48bb54b28b81",
      "name": "Call 'WF-config'"
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "97b98d1b-54d4-4f88-a301-7970ec10b496",
      "name": "Get a workflow version",
      "type": "n8n-nodes-base.n8n",
      "position": [
        912,
        1280
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "ZmnNbwCBVFCFXOa3",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ADO items() response wraps results under value[]\n// Normalize each ADO item to: { path, gitObjectType, objectId }\nconst raw = $input.first().json;\nconst items = raw.value || [];\n\n// Skip the folder entry itself (gitObjectType == 'tree')\nreturn items\n  .filter(i => i.gitObjectType === 'blob')\n  .map(i => ({ json: { path: i.path, objectId: i.objectId } }));\n"
      },
      "id": "bdef24a9-71ed-4b7d-8c3e-2ce81a51afec",
      "name": "Normalize ADO list",
      "type": "n8n-nodes-base.code",
      "position": [
        720,
        1488
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "content": "## ADO CREDENTIAL SETUP\n\nCreate an **HTTP Basic Auth** credential in n8n:\n- **Username**: leave empty (or any string)\n- **Password**: your Azure DevOps Personal Access Token (PAT)\n\nThe PAT needs **Code (Read & Write)** permission on the target repo.\n\nIn your WF-config workflow, replace the GitHub fields with:\n- `ado_organization` - your ADO org name (e.g. mycompany)\n- `ado_project` - the team project name\n- `ado_repo_name` - the Git repository name\n- `repo_workflows_path` - folder path without leading slash (e.g. n8n-workflows)",
        "height": 380,
        "width": 600,
        "color": 4
      },
      "id": "fce2dbc7-49a5-417c-9b16-80cd4ebb50fb",
      "name": "Sticky Note ADO Setup",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -144,
        1584
      ],
      "typeVersion": 1
    }
  ],
  "connections": {
    "Filter": {
      "main": [
        [
          {
            "node": "Get file from ADO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get file from ADO": {
      "main": [
        [
          {
            "node": "Decode to json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "To base": {
      "main": [
        [
          {
            "node": "Edit for Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Json file": {
      "main": [
        [
          {
            "node": "To base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "To base64": {
      "main": [
        [
          {
            "node": "Edit for Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Json file1": {
      "main": [
        [
          {
            "node": "To base",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Json file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - InputA": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - InputB": {
      "main": [
        [
          {
            "node": "Update workflow in n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n vs ADO": {
      "main": [
        [
          {
            "node": "Json file",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "If n8n before ADO",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create new workflow in n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decode to json": {
      "main": [
        [
          {
            "node": "n8n vs ADO",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit for Update": {
      "main": [
        [
          {
            "node": "Get latest commit OID for Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get latest commit OID for Update": {
      "main": [
        [
          {
            "node": "Update file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit for Upload": {
      "main": [
        [
          {
            "node": "Get latest commit OID for Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get latest commit OID for Upload": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Call 'WF-config'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set ADO Details": {
      "main": [
        [
          {
            "node": "List files from repo",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get a workflow version",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If n8n before ADO": {
      "main": [
        [
          {
            "node": "Code - InputB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code - InputA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List files from repo": {
      "main": [
        [
          {
            "node": "Normalize ADO list",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize ADO list": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'WF-config'": {
      "main": [
        [
          {
            "node": "Set ADO Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a workflow version": {
      "main": [
        [
          {
            "node": "n8n vs ADO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "efc61afe-e580-469a-a2b8-4b197d905632",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-06-11T09:10:05.408Z",
      "createdAt": "2026-06-11T09:10:05.408Z",
      "role": "workflow:owner",
      "workflowId": "bwdFYSOYbnJQk5Yu",
      "projectId": "n7vWRCER8LLsWmld"
    }
  ],
  "activeVersion": null,
  "tags": [
    {
      "updatedAt": "2026-06-05T07:30:18.635Z",
      "createdAt": "2026-06-05T07:30:18.635Z",
      "id": "MCtZRYfHy9SavSZ3",
      "name": "jacek"
    },
    {
      "updatedAt": "2026-06-05T07:00:29.507Z",
      "createdAt": "2026-06-05T07:00:29.507Z",
      "id": "DX9UjmPOEJBpqB72",
      "name": "git-sync"
    }
  ]
}