n8n-workflows/workflows/config-export.json
{
  "updatedAt": "2026-06-05T14:07:10.881Z",
  "createdAt": "2026-06-05T14:03:41.586Z",
  "id": "oqPPwmaBnVjOxfNh",
  "name": "config-export",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ]
            }
          ]
        }
      },
      "id": "0c45d871-f36c-4ccc-ad9b-640afb821c1f",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -1824,
        224
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "zyVp53gZcsQvjbDu",
          "mode": "list",
          "cachedResultUrl": "/workflow/zyVp53gZcsQvjbDu",
          "cachedResultName": "get-config"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "CustomerName": "_workflow_sync"
          },
          "matchingColumns": [
            "CustomerName"
          ],
          "schema": [
            {
              "id": "CustomerName",
              "displayName": "CustomerName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "2e14558d-400f-422e-825a-e6c9d76afb67",
      "name": "Call 'WF-config'",
      "type": "n8n-nodes-base.executeWorkflow",
      "position": [
        -1616,
        224
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aaa00003-assign-01",
              "name": "github_account_name",
              "type": "string",
              "value": "={{ $json.github_account_name }}"
            },
            {
              "id": "aaa00003-assign-02",
              "name": "github_repo_name",
              "type": "string",
              "value": "={{ $json.github_repo_name }}"
            },
            {
              "id": "aaa00003-assign-03",
              "name": "repo_configs_path",
              "type": "string",
              "value": "={{ $json.repo_configs_path }}"
            },
            {
              "id": "aaa00003-assign-04",
              "name": "commit_author_name",
              "type": "string",
              "value": "={{ $json.commit_author_name ?? 'n8n-bot' }}"
            },
            {
              "id": "aaa00003-assign-05",
              "name": "commit_author_email",
              "type": "string",
              "value": "={{ $json.commit_author_email ?? 'n8n-bot@example.com' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "23a5bd96-ec41-4bc0-a8cf-b05de221b478",
      "name": "Set GitHub Details",
      "type": "n8n-nodes-base.set",
      "position": [
        -1424,
        224
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT config_set, config_key, config_value, updated_at FROM config_parameters ORDER BY config_set, config_key;",
        "options": {}
      },
      "id": "90d45baa-99dc-4619-8371-0c87a85d46e9",
      "name": "Read All Config Rows",
      "type": "n8n-nodes-base.postgres",
      "position": [
        -1200,
        224
      ],
      "typeVersion": 2.6,
      "credentials": {
        "postgres": {
          "id": "9qhK76P6xoSLgyrj",
          "name": "Postgres account"
        }
      },
      "notes": "Reads every row from config_parameters. Adjust WHERE clause to filter by config_set if you only want a subset."
    },
    {
      "parameters": {
        "jsCode": "// Group all rows by config_set and reconstruct one JSON object per file.\n// Output: one item per config_set, with fields: config_set, fileContent (object), fileName\n\nconst allRows = $input.all();\n\n// Pull GitHub context from the upstream 'Set GitHub Details' node\nconst ghCtx = $('Set GitHub Details').first().json;\n\nconst groups = {};\n\nfor (const item of allRows) {\n  const { config_set, config_key, config_value } = item.json;\n  if (!groups[config_set]) groups[config_set] = {};\n  groups[config_set][config_key] = config_value;\n}\n\nconst result = [];\n\nfor (const [configSet, kvPairs] of Object.entries(groups)) {\n  result.push({\n    json: {\n      github_account_name: ghCtx.github_account_name,\n      github_repo_name:    ghCtx.github_repo_name,\n      repo_configs_path:   ghCtx.repo_configs_path,\n      commit_author_name:  ghCtx.commit_author_name,\n      commit_author_email: ghCtx.commit_author_email,\n      config_set:          configSet,\n      fileName:            `${configSet}.json`,\n      filePath:            `${ghCtx.repo_configs_path}/${configSet}.json`,\n      fileContent:         kvPairs,\n      // Pretty-printed JSON string ready for base64 encoding\n      fileContentString:   JSON.stringify(kvPairs, null, 2),\n    }\n  });\n}\n\nreturn result;"
      },
      "id": "d6c8ed9f-5ad6-4dc6-8122-a07c2b08a5b3",
      "name": "Group Rows into JSON Files",
      "type": "n8n-nodes-base.code",
      "position": [
        -960,
        224
      ],
      "typeVersion": 2,
      "notes": "Reconstructs one JSON object per config_set. Each output item represents one file to be written to GitHub."
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $json.github_account_name }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $json.github_repo_name }}"
        },
        "filePath": "={{ $json.filePath }}",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "id": "c05df247-548c-407c-b6ec-bb467b7ededa",
      "name": "Get Existing File (for SHA)",
      "type": "n8n-nodes-base.github",
      "position": [
        -720,
        112
      ],
      "typeVersion": 1.1,
      "webhookId": "73207ae6-7a56-4cdc-933c-954d037b8e7e",
      "credentials": {
        "githubApi": {
          "id": "xyTmQosfDecDMXud",
          "name": "GitHub account"
        }
      },
      "continueOnFail": true,
      "notes": "Fetches the existing file to obtain its SHA. If the file does not yet exist the node will fail gracefully (continueOnFail=true) and sha will be empty, triggering a file creation instead of update."
    },
    {
      "parameters": {
        "jsCode": "// Carry forward the file payload and attach the existing file's SHA (if any).\n// The SHA is required by the GitHub API when updating an existing file.\n// If the GET failed (new file), sha will be undefined / empty string.\n\nconst fileItem   = $input.item.json;          // output from 'Get Existing File'\nconst groupItem  = $('Group Rows into JSON Files').item.json; // matching grouped item\n\nconst sha = fileItem?.sha ?? fileItem?.data?.sha ?? '';\n\nreturn [{\n  json: {\n    ...groupItem,\n    existingSha: sha,\n  }\n}];"
      },
      "id": "9c875a09-7e9d-4dac-94fe-ad27399bc156",
      "name": "Attach SHA",
      "type": "n8n-nodes-base.code",
      "position": [
        -480,
        112
      ],
      "typeVersion": 2,
      "notes": "Merges the upstream file payload with the SHA returned by the GET. Empty SHA means the file is new."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-has-sha",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              },
              "leftValue": "={{ $json.existingSha }}"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0a354f74-76ff-4cfe-b7b6-8bb653c8a4e7",
      "name": "File Exists?",
      "type": "n8n-nodes-base.if",
      "position": [
        -240,
        112
      ],
      "typeVersion": 2.2,
      "notes": "Routes to UPDATE branch when a SHA is present, CREATE branch when the file is new."
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $json.github_account_name }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $json.github_repo_name }}"
        },
        "filePath": "={{ $json.filePath }}",
        "fileContent": "={{ $json.fileContentString }}",
        "commitMessage": "chore(config): update {{ $json.fileName }} from DB [n8n]",
        "additionalParameters": {
          "author": {
            "name": "={{ $json.commit_author_name }}",
            "email": "={{ $json.commit_author_email }}"
          }
        }
      },
      "id": "3d421a53-0953-4a00-9d60-979735204853",
      "name": "Update Existing File",
      "type": "n8n-nodes-base.github",
      "position": [
        0,
        0
      ],
      "typeVersion": 1.1,
      "webhookId": "5e13aedc-0c8d-44df-a8b1-be2bb5e2d2e5",
      "credentials": {
        "githubApi": {
          "id": "xyTmQosfDecDMXud",
          "name": "GitHub account"
        }
      },
      "notes": "Updates an existing file. The SHA from the previous GET is mandatory to avoid 409 conflicts."
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $json.github_account_name }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $json.github_repo_name }}"
        },
        "filePath": "={{ $json.filePath }}",
        "fileContent": "={{ $json.fileContentString }}",
        "commitMessage": "chore(config): create {{ $json.fileName }} from DB [n8n]",
        "additionalParameters": {
          "author": {
            "name": "={{ $json.commit_author_name }}",
            "email": "={{ $json.commit_author_email }}"
          }
        }
      },
      "id": "4d1db573-0c70-45ff-9259-6be0bc8f3bce",
      "name": "Create New File",
      "type": "n8n-nodes-base.github",
      "position": [
        0,
        224
      ],
      "typeVersion": 1.1,
      "webhookId": "586896ce-b239-4b2f-a11a-5681bed1f010",
      "alwaysOutputData": true,
      "credentials": {
        "githubApi": {
          "id": "xyTmQosfDecDMXud",
          "name": "GitHub account"
        }
      },
      "notes": "Creates a brand-new file in the repository. No SHA required."
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Call 'WF-config'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'WF-config'": {
      "main": [
        [
          {
            "node": "Set GitHub Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set GitHub Details": {
      "main": [
        [
          {
            "node": "Read All Config Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read All Config Rows": {
      "main": [
        [
          {
            "node": "Group Rows into JSON Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Group Rows into JSON Files": {
      "main": [
        [
          {
            "node": "Get Existing File (for SHA)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Existing File (for SHA)": {
      "main": [
        [
          {
            "node": "Attach SHA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attach SHA": {
      "main": [
        [
          {
            "node": "File Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Exists?": {
      "main": [
        [
          {
            "node": "Update Existing File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create New File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Existing File": {
      "main": [
        []
      ]
    },
    "Create New File": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "92254107-b01f-48d8-83f1-bf0026fac32d",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-06-05T14:03:41.586Z",
      "createdAt": "2026-06-05T14:03:41.586Z",
      "role": "workflow:owner",
      "workflowId": "oqPPwmaBnVjOxfNh",
      "projectId": "n7vWRCER8LLsWmld"
    }
  ],
  "activeVersion": null,
  "tags": []
}