n8n-workflows/workflows/github---repo_workflows_sync.json
{
  "updatedAt": "2026-06-11T10:44:05.862Z",
  "createdAt": "2026-06-05T06:59:59.461Z",
  "id": "JNagB4puYNM4C6aQ",
  "name": "github - repo_workflows_sync",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "operation": "create",
        "workflowObject": "={{ $json.toJsonString()  }}",
        "requestOptions": {}
      },
      "id": "48f98490-c07f-4db3-a442-a9ad0c3bdb47",
      "name": "Create new workflow in n8n",
      "type": "n8n-nodes-base.n8n",
      "position": [
        336,
        992
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ]
            }
          ]
        }
      },
      "id": "e6642292-d7c1-4d3e-a038-9e8adccc6df4",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -1888,
        480
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $json.github_account_name }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $json.github_repo_name }}"
        },
        "filePath": "=/{{ $json.repo_workflows_path }}"
      },
      "id": "266d068f-5cf0-4285-afa6-9cb20dc05553",
      "name": "List files from repo",
      "type": "n8n-nodes-base.github",
      "position": [
        -1056,
        608
      ],
      "webhookId": "0614066f-212d-4f9e-9da2-fa4a80b44baf",
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {
        "githubApi": {
          "id": "xyTmQosfDecDMXud",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Set GitHub Details').item.json.github_account_name }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Set GitHub Details').item.json.github_repo_name }}"
        },
        "filePath": "={{ $json.path }}",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "id": "ddf6c033-86b8-4bb3-b554-b598232f7e65",
      "name": "GitHub",
      "type": "n8n-nodes-base.github",
      "position": [
        -608,
        608
      ],
      "webhookId": "71ad7d84-99cd-4fbd-a365-52537e69525b",
      "typeVersion": 1.1,
      "credentials": {
        "githubApi": {
          "id": "xyTmQosfDecDMXud",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Set GitHub Details').item.json.github_account_name }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Set GitHub Details').item.json.github_repo_name }}"
        },
        "filePath": "={{ $('Set GitHub Details').item.json.repo_workflows_path }}/{{ $node['Edit for Upload'].json.fileName }}",
        "fileContent": "={{ $('To base64').item.json.data }}",
        "commitMessage": "=n8n_backup_sync-{{ $node['Edit for Upload'].json.commitDate }}",
        "additionalParameters": {
          "branch": {
            "branch": "main"
          }
        }
      },
      "id": "5bde9140-2393-4991-a270-81a4ed62ff2e",
      "name": "Upload file",
      "type": "n8n-nodes-base.github",
      "position": [
        992,
        128
      ],
      "webhookId": "ce4b561b-acb9-4cd8-b76f-4928dada9674",
      "typeVersion": 1,
      "credentials": {
        "githubApi": {
          "id": "xyTmQosfDecDMXud",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "format": true
        }
      },
      "id": "7203e0ed-e99e-406b-b752-137a1686e958",
      "name": "Json file",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        336,
        128
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "id": "355f2eb4-23eb-48ba-b420-8f1c4ab4315f",
      "name": "To base64",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        560,
        128
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## CHECK WHICH IS NEWER\n\n**IF TRUE** github workflow is the most recent, n8n to be updated\n\n**IF FALSE** n8n workflow is the most recent, github to be updated\n\n",
        "height": 400,
        "width": 340,
        "color": 3
      },
      "id": "49c5ac4c-f73d-4269-b209-f3fce8ed048d",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        208,
        384
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Set GitHub Details').item.json.github_account_name }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Set GitHub Details').item.json.github_repo_name }}"
        },
        "filePath": "={{ $('Set GitHub Details').item.json.repo_workflows_path }}/{{ $node['Edit for Update'].json.fileName }}",
        "fileContent": "={{ $('To base').item.json.data }}",
        "commitMessage": "=n8n_backup_sync-{{ $('Edit for Update').item.json.commitDate }}"
      },
      "id": "ba372fd2-b4a9-4d60-bdb7-e3f0df3c0e58",
      "name": "Update file",
      "type": "n8n-nodes-base.github",
      "position": [
        1808,
        768
      ],
      "webhookId": "27218087-8df7-474d-a39f-70cfa9c34ec8",
      "typeVersion": 1,
      "credentials": {
        "githubApi": {
          "id": "xyTmQosfDecDMXud",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "format": true
        }
      },
      "id": "6587c4e7-3b64-4a08-85bc-af559016b1a3",
      "name": "Json file1",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        1152,
        768
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "id": "a2d0e2fc-058b-4e80-bfea-3b3d3b8a5b63",
      "name": "To base",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        1376,
        768
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mergeByFields": {
          "values": [
            {
              "field1": "id",
              "field2": "id"
            }
          ]
        },
        "options": {}
      },
      "id": "cc08ffce-bfb3-4028-8350-53a4e3c94fab",
      "name": "n8n vs GitHub",
      "type": "n8n-nodes-base.compareDatasets",
      "position": [
        -160,
        480
      ],
      "typeVersion": 2.3
    },
    {
      "parameters": {
        "operation": "update",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.dataset.id }}"
        },
        "workflowObject": "={{ $json.dataset.toJsonString() }}",
        "requestOptions": {}
      },
      "id": "107d56c7-5b64-4f0a-83a3-a63a7a8b800b",
      "name": "Update workflow in n8n",
      "type": "n8n-nodes-base.n8n",
      "position": [
        928,
        512
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "ZmnNbwCBVFCFXOa3",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "# Get the desired workflow name\nworkflow_id = _('If n8n before GitHub').first().json['same']['id']\n\n# Get all decoded workflow items\nall_decoded = _('Decode to json').all()\n\n# Filter for the matching one\nmatched = [\n    item.json \n    for item in all_decoded \n    if item.json.get('id') == workflow_id\n]\n\n# If there's a match, return it (or empty if none)\nif matched:\n    return [{'json': {'dataset': matched[0]}}]\nelse:\n    return []\n"
      },
      "id": "7499be1f-b0da-4825-8ec8-392d01bd15da",
      "name": "Code - InputB",
      "type": "n8n-nodes-base.code",
      "position": [
        720,
        512
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const workflow_id = $('If n8n before GitHub').first().json.same.id;\n\nconst all_decoded = $('Get a workflow version').all();\n\nconst matched = all_decoded.filter(item => item.json.id === workflow_id);\n\nif (matched.length > 0) {\n  return [{ json: { dataset: matched[0].json } }];\n} else {\n  return [];\n}"
      },
      "id": "e6c15620-12f2-42da-a0e1-a3424428010e",
      "name": "Code - InputA",
      "type": "n8n-nodes-base.code",
      "position": [
        720,
        768
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json.dataset }}",
        "options": {}
      },
      "id": "7a7a2b24-aeef-43e8-8d10-f99c2a79d4da",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "position": [
        928,
        768
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fe4a36ef-9f04-40e3-99bd-cc517a49b440",
              "name": "commitDate",
              "type": "string",
              "value": "={{ $now.format('dd-MM-yyyy/H:mm') }}"
            },
            {
              "id": "b0fe1bcc-e79c-4a6b-b8b4-44222c8bf4e8",
              "name": "fileName",
              "type": "string",
              "value": "={{$('n8n vs GitHub').item.json.name\n.trim().replace(/\\s+/g, '-').toLowerCase()\n}}.json"
            }
          ]
        },
        "options": {}
      },
      "id": "4b767de4-fafa-4cb5-bc72-b851a3179193",
      "name": "Edit for Upload",
      "type": "n8n-nodes-base.set",
      "position": [
        768,
        128
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fe4a36ef-9f04-40e3-99bd-cc517a49b440",
              "name": "commitDate",
              "type": "string",
              "value": "={{ $now.format('dd-MM-yyyy/H:mm') }}"
            },
            {
              "id": "b0fe1bcc-e79c-4a6b-b8b4-44222c8bf4e8",
              "name": "fileName",
              "type": "string",
              "value": "={{\n$('Code - InputA').item.json.dataset.name.trim().replace(/\\s+/g, '-').toLowerCase()\n}}.json"
            }
          ]
        },
        "options": {}
      },
      "id": "2f615092-a524-4bae-9fa0-cb8d4757c763",
      "name": "Edit for Update",
      "type": "n8n-nodes-base.set",
      "position": [
        1600,
        768
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "## IF ONLY IN N8N\nUpdate GitHub with the relevant workflows",
        "height": 320,
        "width": 1000
      },
      "id": "57f699f0-c0cc-403d-942b-9f64992b341c",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        208,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## IF ONLY IN GITHUB\nCreate new workflow in n8n",
        "height": 340,
        "width": 340,
        "color": 6
      },
      "id": "d5ad2adb-5408-4a98-a827-b8fc5597c1e9",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        208,
        848
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8ccf743b-3a66-44c0-a30b-72a1d4bcf60b",
              "operator": {
                "type": "dateTime",
                "operation": "before"
              },
              "leftValue": "={{ $json.different.updatedAt.inputA }}",
              "rightValue": "={{ $json.different.updatedAt.inputB }}"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7ac6dc0a-3c37-4973-952f-71a54764ec00",
      "name": "If n8n before GitHub",
      "type": "n8n-nodes-base.if",
      "position": [
        336,
        608
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{  $json.content.base64Decode() }}",
        "options": {}
      },
      "id": "1fb8b5b4-c83c-4813-bbdb-51bbc416ee74",
      "name": "Decode to json",
      "type": "n8n-nodes-base.set",
      "position": [
        -400,
        608
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "b9ed0bad-4ebe-4378-807e-1a6082c4461d",
              "operator": {
                "type": "string",
                "operation": "notContains"
              },
              "leftValue": "={{ $json.name }}",
              "rightValue": "placeholder"
            }
          ]
        },
        "options": {}
      },
      "id": "33c08624-ef2c-4c80-9329-2959e2ea3d19",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "position": [
        -832,
        608
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "850e7497-0f2f-470e-a5a2-a85a0c12aaa2",
              "name": "github_account_name",
              "type": "string",
              "value": "={{ $json.github_account_name }}"
            },
            {
              "id": "5c2be15a-cb93-4fe4-a512-03a1880b8713",
              "name": "github_repo_name",
              "type": "string",
              "value": "={{ $json.github_repo_name }}"
            },
            {
              "id": "f4f1f0c3-7a89-427c-942f-d0e74ba4583f",
              "name": "repo_workflows_path",
              "type": "string",
              "value": "={{ $json.repo_workflows_path }}"
            }
          ]
        },
        "options": {}
      },
      "id": "8468fda4-a75a-4fab-91cf-9b48149605c2",
      "name": "Set GitHub Details",
      "type": "n8n-nodes-base.set",
      "position": [
        -1456,
        480
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "zyVp53gZcsQvjbDu",
          "mode": "list",
          "cachedResultUrl": "/workflow/zyVp53gZcsQvjbDu",
          "cachedResultName": "get-config"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "CustomerName": "jacek"
          },
          "matchingColumns": [
            "CustomerName"
          ],
          "schema": [
            {
              "id": "CustomerName",
              "displayName": "CustomerName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -1680,
        480
      ],
      "id": "bae8d78f-381b-494c-8c9d-2b57b313f932",
      "name": "Call 'WF-config'"
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "0e9aee7e-4338-4a2b-b65c-cff14a421c01",
      "name": "Get a workflow version",
      "type": "n8n-nodes-base.n8n",
      "position": [
        -832,
        400
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "ZmnNbwCBVFCFXOa3",
          "name": "n8n account"
        }
      }
    }
  ],
  "connections": {
    "Filter": {
      "main": [
        [
          {
            "node": "GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub": {
      "main": [
        [
          {
            "node": "Decode to json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "To base": {
      "main": [
        [
          {
            "node": "Edit for Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Json file": {
      "main": [
        [
          {
            "node": "To base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "To base64": {
      "main": [
        [
          {
            "node": "Edit for Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Json file1": {
      "main": [
        [
          {
            "node": "To base",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Json file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - InputA": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - InputB": {
      "main": [
        [
          {
            "node": "Update workflow in n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n vs GitHub": {
      "main": [
        [
          {
            "node": "Json file",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "If n8n before GitHub",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create new workflow in n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decode to json": {
      "main": [
        [
          {
            "node": "n8n vs GitHub",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit for Update": {
      "main": [
        [
          {
            "node": "Update file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit for Upload": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Call 'WF-config'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set GitHub Details": {
      "main": [
        [
          {
            "node": "List files from repo",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get a workflow version",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If n8n before GitHub": {
      "main": [
        [
          {
            "node": "Code - InputB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code - InputA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List files from repo": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'WF-config'": {
      "main": [
        [
          {
            "node": "Set GitHub Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a workflow version": {
      "main": [
        [
          {
            "node": "n8n vs GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "5a5216af-c031-4c3d-bf60-b5818d017001",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-06-05T06:59:59.461Z",
      "createdAt": "2026-06-05T06:59:59.461Z",
      "role": "workflow:owner",
      "workflowId": "JNagB4puYNM4C6aQ",
      "projectId": "n7vWRCER8LLsWmld"
    }
  ],
  "activeVersion": null,
  "tags": [
    {
      "updatedAt": "2026-06-05T07:30:18.635Z",
      "createdAt": "2026-06-05T07:30:18.635Z",
      "id": "MCtZRYfHy9SavSZ3",
      "name": "jacek"
    },
    {
      "updatedAt": "2026-06-05T07:00:29.507Z",
      "createdAt": "2026-06-05T07:00:29.507Z",
      "id": "DX9UjmPOEJBpqB72",
      "name": "git-sync"
    }
  ]
}